@import 'variables.scss';

html {
  font-size: 10px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primaryColor;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $secondaryColor;
  border: 0.1rem solid $secondaryColor;
  border-radius: .4rem;
  color: $primaryColor;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-appearance: none; // added to fix buttons in Safari
  -webkit-border-radius: .4rem; // added to fix buttons in Safari
}
