// Global page dimensions
$phone-width-cutoff: 40.0rem;
$tablet-width-cutoff: 80.0em;

// Colors
$primaryColor: #2c3e50;
$primaryLightColor: #57687c;
$primaryDarkColor: #031828;
$secondaryColor: #57ccc8;
$secondaryLightColor: #8dfffb;
$secondaryDarkColor: #0b9b97;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;
